<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel = "icon" href ="/image/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
<body>
    <div class="main-content">
         {{>header}}
        <img class ="potrait" src = "/image/IMG_6483.JPG">

    </div>
   
    {{>footer}}
</body>

</head>

</html>