<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel = "icon" href ="/image/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
<body>
    <div class="main-content">
         {{>header}}
         <p>This site was created by Rahul Desai.
            It uses data from Mapbox.com and darksky.net
         </p>
        

    </div>
   
    {{>footer}}
</body>

</head>

</html>