<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel = "icon" href ="/image/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p>{{message}}</p>
    </div>
    
    {{footer}}
</body>

</html>