<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel = "icon" href ="/image/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Enter your location in the Search box to see the Weather
        </p>
    </div>
    
    {{>footer}}
</body>

</html>