<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel = "icon" href ="/image/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
   
    
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p>Use this site to get Weather</p>
        <form>
            <input placeholder="Location">
            <button>search</button>
        </form>

    <p id = "message-1"></p>
    <p id = "message-2"></p>
        <script src = "/js/app.js"></script>
    </div>

    {{>footer}}
</body>

</html>